
<div class="container mt-5">
    <h1>Kaffee bestellen</h1><br>
    <form #coffeeForm="ngForm" (ngSubmit)="submit(coffeeForm)">

            <!-- Bestellformular: Name & Vorname -->
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" name="lastname" ngModel #lastname="ngModel" pattern="[A-Za-zä-üÄ-Ü-]{1,32}" required minlength="2" maxlength="30" placeholder="Name (Pflichtfeld)">
                      </div>
                      
                      <div class="col">
                        <input type="text" class="form-control" name="firstname" ngModel #firstname="ngModel" pattern="[A-Za-zä-üÄ-Ü-]{1,50}" required minlength="2" maxlength="50" placeholder="Vorname (Pflichtfeld)">
                      </div>
                    </div>
                    
                    <!-- Alerts -->
                    <div class="row">
                      <div class="col">
                         <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">Ungültige Eingabe</div>
                      </div>

                      <div class="col">
                         <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">Ungültige Eingabe</div>
                      </div>   
                    </div> 
                   
                    <br>

              <!-- Anzahl -->
        <div class="form-group">
                
          <input type="number" class="form-control" name="amount" ngModel #amount="ngModel" pattern="[0-9]{1,3}" required placeholder="Anzahl (Pflichtfeld)">
        
          <div class="row">
            <div class="col">
              <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">Ungültige Eingabe</div>
            </div>
          </div>
        </div>

        <!-- E-Mail -->
          <input type="email" class="form-control" id="exampleInputEmail1" value=null name="email" ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" aria-describedby="emailHelp"
           placeholder="E-Mail (optional)"><br>

        
           <button type="submit" [disabled]="!coffeeForm.valid" class="btn btn-success btn-large btn-block">Bestätigen</button>
  </form>

  <!-- Bestellformular Ende -->

    <br><br><br>

    <!-- Bestellungsliste -->
     <h1 *ngIf="liste.length !=0">Kaffeebestellungen</h1>
          <ul class="list-group">
             <li class="list-group-item" *ngFor="let l of liste">
                <span>{{l.firstname}} {{l.lastname}}, Anzahl: {{l.amount}} </span>
                <span *ngIf="l.email!==null && l.email!==''">(E-Mail: {{l.email}})</span>
                
                <!-- Buttons  -->
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-danger float-right" (click)="loeschen(l)">Löschen</button>
                  
                  <button type="button" class="btn btn-primary float-right px-2" data-toggle="modal" data-target="#changeModal" (click)="selectCoffeeCopy(l)">
                  Bearbeiten
                  </button>
                </div>
                                
              </li>
              <br>  

              <button *ngIf="liste.length != 0"   class="btn btn-success btn-block" (click)="bestaetigen()">Bestellung absenden</button>     
          </ul>
  

         
          


</div> <!-- container-->

  <!-- Modal -->
  <div class="modal fade" id="changeModal"  tabindex="-1" role="dialog" aria-labelledby="changeModalTitle" aria-hidden="true">
      <div class="modal-dialog " role="document" *ngIf="coffeecopy">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeModalTitle"><i class="material-icons">border_color</i> Bearbeiten</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
  
                <form  #changeForm="ngForm">
  
                  <div class="form-group">
                      <label>Name:</label>
                      <input type="text" class="form-control" name="lastname" [(ngModel)]="coffeecopy.lastname" pattern="[A-Za-zä-üÄ-Ü-]{1,32}" required minlength="2" maxlength="30">
                  </div>
                  <div class="form-group">
                      <label>Vorname:</label>  
                      <input type="text" class="form-control" name="firstname" [(ngModel)]="coffeecopy.firstname" pattern="[A-Za-zä-üÄ-Ü-]{1,50}" required minlength="2" maxlength="50">
                  </div>
                  <div class="form-group">
                      <label>Anzahl:</label>
                      <input type="number" class="form-control" name="amount" [(ngModel)]="coffeecopy.amount" pattern="[0-9]{1,3}">
                  </div>
                  <div class="form-group">
                    <label>E-Mail:</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="coffeecopy.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  </div>
                  
                </form>
           
          </div>
          <div class="modal-footer">
            <button type="button" [disabled]="!changeForm.valid" class="btn btn-primary" data-dismiss="modal" (click)="ueberschreiben()">Änderungen speichern</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>  
          </div>
        </div>
      </div>
    </div>