<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(112, 221, 103)">
        <a class="navbar-brand" routerLink="startseite"><i class="material-icons">local_drink</i> Kaffee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="startseite"><i class="material-icons">home</i> Startseite<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="orderCoffee"><i class="material-icons">add_shopping_cart</i> Kaffee bestellen</a>
              </li>        
              <!-- <li class="nav-item"> -->
                  <!-- <a class="nav-link" routerLink="home"><i class="material-icons">build</i> Verwalten</a> -->
            <!-- </li> -->
          </ul>
         
          <div class="btn-group">
            <button class="btn btn-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#loginModal">Anmelden</button>
            <button class="btn btn-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#signUpModal">Registrieren</button>
          </div>

        </div>
      </nav>

    <router-outlet></router-outlet>


    <!-- Modal LogIn -->
    <div class="modal fade" id="loginModal"  tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalTitle">Anmelden</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <form #loginForm="ngForm">
        
              <div class="form-group">
                  <label>E-Mail::</label>
                  <input type="text" class="form-control" placeholder="E-Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel #email="ngModel" name="email" required>
              </div>
              <div class="form-group">
                  <label>Passwort:</label>  
                  <input type="password" class="form-control" placeholder="Passwort"  ngModel #password="ngModel" name="password" required>
              </div>
              
            </form>              
              
            </div>
            <div class="modal-footer">
              <button type="button" [disabled]="!loginForm.valid"  class="btn btn-primary" data-dismiss="modal" (click)="login(loginForm)" >Anmelden</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>  
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Registrieren -->
    <div class="modal fade" id="signUpModal"  tabindex="-1" role="dialog" aria-labelledby="signUpModalTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signUpTitle">Registrieren</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
                  <form #signUpForm="ngForm">
  
                      <div class="form-group">
                          <label>Vorname:</label>
                          <input type="text" class="form-control" placeholder="Vorname"  ngModel #firstname="ngModel" pattern="[A-Za-zä-üÄ-Ü-]{2,30}" name="firstname" minlength="2" maxlength="30" required>
                      </div>
                      <div class="form-group">
                          <label>Nachname:</label>  
                          <input type="text" class="form-control" placeholder="Nachname"  ngModel #lastname="ngModel" pattern="[A-Za-zä-üÄ-Ü-]{2,30}" name="lastname" minlength="2" maxlength="30" required>
                      </div>
                      <div class="form-group">
                          <label>E-Mail:</label>  
                          <input type="email" class="form-control" placeholder="E-Mail"  ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" minlength="7" maxlength="50" required>
                      </div>
                      <div class="form-group">
                          <label>Passwort:</label>  
                          <input type="password" class="form-control" placeholder="Password"  ngModel #password="ngModel" name="password" minlength="8" required>
                      </div>
                      
                  </form>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="signUp(signUpForm)" [disabled]="!signUpForm.valid" >Registrieren</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>  
            </div>
          </div>
        </div>
      </div>
   
